* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*header*/
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(253, 249, 249);
}

nav {
  display: flex;
  justify-content: center;
  gap: 50px; 
}

nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 120px;
  height: auto;
}

.search {
  display: flex;
  align-items: center;
  width: 800px;
  min-height: 50px;
}
.search-input {
  font-size: 15px;
  font-weight:400 ;
  width: 100%;
  height: 60%;
  border: 2px solid;
  padding: 0 15px;
 border-radius: 5px;
 border-color: rgb(232, 167, 45);
}

.search-image {
  width: 35px;
  height: 35px;
  padding: 10px;
  background-color: rgb(242, 133, 74);
}

.search-input:focus {
  outline: none;
  border-color: rgb(232, 167, 45);
  box-shadow: none;
}

.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.search-input::-ms-clear {
  display: none;
}

.open-logo {
  width: 30px;
  height: 30px;
}

.open {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 800;
  color: rgb(1, 72, 9);
}

.cart-logo{
  width: 40px;
  height: 40px;
   border-radius: 5px;
   border: 1px solid #e5e5e5;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.cart-logo:hover {
background-color: #F9D71C;
}

#cart-link {
  position: relative;
}

#cart-count {
  position: absolute;
  top: 5px;
  right: -1px;
  background-color: rgb(202, 4, 4);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
}



/*end of header's styling*/

/*wel-cov styling*/

.wel-cov {
  display: flex;
  background-color: rgb(14, 11, 11);
  align-items: center;
  gap: 50px;
}

.welcome {
  
  text-align: left;
  width: 50%;
  padding: 40px;
  animation: welcomeSlide 6s ease-out;
}

.cover {
  width: 50%;
  padding: 40px;
  animation: coverSlide 6s ease-out;
}

@keyframes welcomeSlide {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes coverSlide {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

 h1 {
  color: rgb(245, 245, 141);
  padding-top: 2px;
  line-height: 1.5;
  padding-bottom: 2px;
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;
max-width: 400px;
 }

 .welcome-p1 {
  color: #F9D71C;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 450px;
 }

 .welcome-p2 {
  color: yellow; 
  font-size: 18px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 2px 0 0 2px;
 }

.shop-now {
  background-color: #F97415;
  width:130px;
  border-radius: 10px;
  color: white;
  padding:10px 15px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  border: none;
  margin-top: 30px;
   cursor: pointer;
  
}

.cover {
  width: 50%;
  padding: 40px;
}

.cover-image {
  width:100%;
  height: auto;
}
/*end of wel-cov*/

/*products starts here*/

.products {
  text-align: center;
  padding: 60px 40px;
}
.first-h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: rgb(25, 3, 3);
}


.products-p1 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(65, 64, 64);
  margin-top: 5px;
}

.all-items {
  margin-top: 2px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.items {
color: rgb(25, 3, 3);
  width:auto;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding:10px 10px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: none;
  margin-top: 30px;
   cursor: pointer;
}
.items:hover {
  background-color: #F9D71C;
}

.mixed-cereals {
  width:auto;
  border-radius: 30px;
  color: rgb(25, 3, 3);
  padding:10px 15px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: 1px solid #e5e5e5;
  margin-top: 30px;
   cursor: pointer;
   transition: 0.3s;
}
.mixed-cereals:hover {
  background-color: #F9D71C ;
}

.build-up {

  width:auto;
  border-radius: 30px;
  color: rgb(25, 3, 3);
  padding:10px 15px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: 1px solid #e5e5e5;
  margin-top: 30px;
   cursor: pointer;
   transition: 0.3s;
}
.build-up:hover {
  background-color: #F9D71C ;
}

.flours {
  width:90px;
  border-radius: 30px;
  color: rgb(25, 3, 3);
  padding:10px 15px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: 1px solid #e5e5e5;
  margin-top: 30px;
   cursor: pointer;
   transition: 0.3s;
}
.flours:hover {
  background-color: #F9D71C ;
}


/* Product image animation */

.product-mix img {
  transition: transform 0.3s ease;
}

.product-mix:hover img {
  transform: scale(1.05);
}
/*all-items ended*/

/*product-cards starts here*/

.product-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
width: 100%;


}
 .product-cards img {
  width: 100%;
  height: 250px;
  object-fit: cover;
 }

 .product-mix {
  text-align: left;
  line-height: 1.7;
  border-radius:12px ;
  padding: 15px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  
 }

 .product-mix h3 {
 color: rgb(25, 3, 3);
 font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
 }

 .product-mix p {
  color: green;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .product-mix .mix-p {
  color: rgb(69, 67, 67); 
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
 }

 .product-mix button {
  background-color: #F97415;
  color: white;
  border: none;
  width: 100%;
  border-radius: 12px;
  padding: 8px 8px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
   cursor: pointer;
 }

 .category-button.active {
  background-color: #F97415;
  color: white;
 }


 /* PRODUCT SIZE & PRICE */

.product-mix label {
  display: block;
  margin-top: 12px;
  margin-bottom: 6px;

  color: rgb(25, 3, 3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 600;
}


/* SIZE SELECT */

.product-mix select {
  width: 100%;
  height: 42px;

  padding: 0 12px;

  background-color: rgb(249, 246, 246);
  color: rgb(25, 3, 3);

  border: 1px solid #e5e5e5;
  border-radius: 8px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;

  transition: 0.3s ease;
}


/* SELECT HOVER */

.product-mix select:hover {
  border-color: #F97415;
}


/* SELECT FOCUS */

.product-mix select:focus {
  outline: none;
  border-color: #F97415;

  box-shadow: 0 0 0 2px rgba(249, 116, 21, 0.12);
}


/* PRICE */

.product-mix .selected-price,
.product-mix .selected-weight-price,
.product-mix .selected-protein-price,
.product-mix .selected-soybean-price,
.product-mix .selected-beans-price,
.product-mix .selected-millet-price,
.product-mix .selected-wheat-price {

  margin-top: 10px;
  margin-bottom: 5px;

  color: #F97415;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

 /*products ends here*/

 /* footer starts here*/

 .footer {
background-color: rgb(249, 246, 246);

}

 .overall-h2 {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: rgb(25, 3, 3);
  text-align: center;
}
 

.overall-p {
  font-size: 20px;
  font-weight: 700;
  color: rgb(82, 82, 82);
  margin: 5px auto 0;
  max-width: 800px;
text-align: center;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40PX;
  gap: 40px;
  border-radius: 12px;
  overflow: hidden;
}



.get-in{
  grid-column: 1;
  grid-row: 1;
background-color: white;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #e5e5e5;
}

.send-message {
  grid-column: 2;
grid-row: 1/3;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #e5e5e5;
}

.business-hours {
  grid-column : 1;
  grid-row: 2;
  background: linear-gradient(#F97415, #FFD700, #F97415);
  padding: 5px;
  border-radius: 10px;
  color: white;
  width: 100%;
  line-height: 2;
  font-size: 18px;
  font-weight: 600;
}

.get-in h2 {
font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: rgb(25, 3, 3);
  margin-bottom: 25px;
}

.get-in div{
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: auto auto;
  column-gap: 15px;
  margin-bottom: 20px;
  transition: 0.3s;
  row-gap: 4px;
}

.get-in div:hover {
  transform: translateX(5px);
}

.get-in img {
  width: 40px;
  height: 40px;
  grid-column: 1;
  grid-row: 1/3;
  padding: 10px;
  background-color: rgb(245, 241, 239);
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.get-in div:hover img {
  transform: scale(1.1);
}

.get-in a {
  display: contents;
}

.get-in h3 {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(21, 1, 1);
  font-size: 16px;
  font-weight: 550;

}

.get-in p {
  font-family: Arial, Helvetica, sans-serif;
    color: rgb(82, 82, 82);
     font-size: 14px;
  font-weight: 100;
  margin-top: 7px;
}



.business-hours div {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.send-message h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: rgb(25, 3, 3);
  margin-bottom: 25px;
}

.send-message form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.send-message input,
.send-message textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  color: rgb(82, 82, 82);
  font-size: 15px;
  font-weight: 100;
  background-color: rgb(249, 246, 246);
  border: 1px solid #e5e5e5;
}

.send-message textarea {
  resize: none;
  min-height: 120px;
}

.send-message button {
  background-color: #F97415;
color: white;
  border: none;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.send-message button:hover {
  background-color: #FFD700;
  color: rgb(25, 3, 3);
  transform: translateY(-2px);
}


.send-message input:focus,
.send-message textarea:focus {

  outline: none;

  border-color: rgb(242, 133, 74);

}

/* SEND MESSAGE NOTIFICATION */

#message-notification {
  width: 100%;
  margin-top: 8px;
  padding: 10px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  background-color: white;
  color: rgb(25, 3, 3);

  display: flex;
  align-items: center;
  gap: 8px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);

  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.3s ease;
}

/* SHOW MESSAGE NOTIFICATION */

#message-notification.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.message-check {
  width: 18px;
  height: 18px;
  border-radius: 50%;

  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 700;
  flex-shrink: 0;
}



#cart-notification {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: rgb(19, 0, 0);
  padding: 15px 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  z-index: 4000;
  border: 1px solid #e5e5e5;
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;

/* hidden when page loads */
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);

  /* pop-up animation */
  transition: opacity 0.4s ease,
              transform 0.4s ease,
              visibility 0.4s ease;
}

/*check-mark*/

.check-mark {
  background-color: black;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  gap: 12px;

}

#cart-notification.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* cart panel */

#cart-panel {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100vh;
  background-color: white;
  z-index: 3000;
  padding: 25px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);
  transition: right 0.4s ease;
}

#cart-panel.open {
  right: 0;
}

/* dark background behind shopping cart */

#cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

#cart-overlay.show {
  opacity: 1;
  visibility: visible;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}

.cart-header h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(25, 3, 3);
  font-size: 20px;
  font-weight: 500;
}

#close-cart {
  border: 1px solid transparent;
  background-color: transparent;
  color: grey;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

#close-cart:hover {
  color: grey;
  border: 2px solid #FF0000;
  border-radius: 50%;
  background-color: transparent;
}

#cart-items {
  padding: 20px 0;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  padding: 20px 0;
  font-size: 18px;
  color: rgb(25,3,3);
}

#checkout-button {
  width: 100%;
  padding: 12px;
  background-color: #F97415;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


/* CART ITEM */

.cart-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 12px;

  width: 100%;
  padding: 12px;

  border: 1px solid #e5e5e5;
  border-radius: 12px;

  margin-bottom: 15px;
  background-color: white;
}


/* PRODUCT IMAGE */

.cart-item-image {
  width: 85px;
  height: 85px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


/* PRODUCT DETAILS */

.empty-cart-message {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: rgb(25, 3, 3);
  padding: 30px 0;
}

.cart-item-details {
  flex: 1;
}

/* CART MESSAGE */

#cart-message {
  margin: 5px 0 0;
  font-size: 14px;
  color: #777;
  font-weight: 500;
}

.cart-item-details h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-bottom: 3px;
  color:rgb(25,3,3) ;
  font-weight: 700;
}

.cart-item-details p {
  font-size: 14px;
  color: rgb(65, 64, 64);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}


/* PRICE */

.cart-item-price {
  color: #e66509;
  font-size: 15px;
  white-space: nowrap;
}


/* QUANTITY + DELETE */

.cart-item-bottom {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}


/* PLUS AND MINUS */

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-controls button {
  width: 28px;
  height: 28px;
  border: 1px solid #e5e5e5;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

.quantity-controls span {
  font-size: 14px;
  font-weight: 600;
  color: rgb(25, 3, 3);
}


/* DELETE ICON */

.delete-item {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

#cart-items {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

#cart-total {
  color: #F97415;
}

 .delete-item {
  border: none;
  background: none;
  color: rgb(237, 71, 71);
font-size: 12px;
  cursor: pointer;
  padding: 7px;
}

.delete-item:hover {
  background-color: #F9D71C ;
  border-radius: 8px;
  padding: 7px;
}



/*end of footer*/





/* beginning of media queries */


/*nav queries*/
@media (max-width: 768px) {
nav {
  flex-direction: row;
  gap: 10px;
  padding: 0 10px;
}

.search {
  width: 45%;
}

.logo {
  width: 80px;
}

.open-logo {
  width: 24px;
  height: 24px;
}

.open {
  font-size: 10px;
}

.cart-logo {
  width: 38px;
  height: 38px;
}
/*welcome section*/
.wel-cov {
  flex-direction: column;
  gap: 20px;
}
.welcome {
  width: 100%;
}
.cover {
  width: 100%;
  padding: 0 15px;
}


h1{
  font-size: 28px;
}
.welcome-p1 {
  font-size: 17px;
}.welcome-p2 {
  font-size: 16px;
}
.shop-now {
  margin-top: 10px;
}
/*products*/

.products {
  padding: 40px 15px;
}

.first-h2{
  font-size: 26px;
}

.products-p1 {
  font-size: 16px;
}

.all-items {
  flex-wrap: wrap;
}

.items,
  .mixed-cereals,
  .build-up,
  .flours {
    margin-top: 10px;
  }
  
.product-cards {
  grid-template-columns: 1fr;
  gap: 20px;
}

.product-cards img {
  height: 200px;
}

.product-mix h3 {
  font-weight: 600;
}

.product-mix {
  line-height: 1.5;
  padding: 12px;
}

.product-mix p:not(.mix-p) {
  font-weight: 800;
}

.product-mix button {
  padding: 10px;
}
/*footer section*/

.contact {
  grid-template-columns: 1fr;
  padding: 20px 15px;
  gap: 20px;
}

.get-in {
  grid-column: 1;
  grid-row: auto;
  padding: 20px;
}

.send-message {
  grid-column: 1;
  grid-row: auto;
  padding: 20px;
}

.business-hours {
  grid-column: 1;
  grid-row: auto;
  padding: 15px;
}

.business-hours {
  font-size: 16px;
}

.business-hours div {
  gap: 10px;
  margin-top: 10px;
}

.get-in div {
  margin-bottom: 15px;
}

.send-message input,
.send-message textarea {
  font-size: 16px;
}

.send-message button {
  font-size: 16px;
}

.overall-h2 {
  font-size: 28px;
}

.overall-p {
  font-size: 16px;
  font-size: 16px;
  padding: 0 15px;
}


/* MOBILE CART */

#cart-panel {
  width: 100%;
  max-width: 380px;
  right: -100%;
  padding: 20px;
}

#cart-panel.open {
  right: 0;
}

.cart-header h2 {
  font-size: 18px;
}

#cart-items {
  max-height: calc(100vh - 175px);
  overflow-y: auto;
}

.cart-item {
  gap: 8px;
  padding: 10px;
  width: 100%;
}

.cart-item-image {
  width: 65px;
  height: 65px;
  padding: 3px;
  flex-shrink: 0;
}

.cart-item-details {
  min-width: 0;
}

.cart-item-details h3 {
  font-size: 14px;
  line-height: 1.3;
  overflow-wrap: break-word;
}

.cart-item-details p {
  font-size: 12px;
}

.cart-item-price {
  font-size: 13px;
  flex-shrink: 0;
}

.cart-item-bottom {
  gap: 8px;
  margin-top: 8px;
}

.quantity-controls {
  gap: 6px;
}

.quantity-controls button {
  width: 26px;
  height: 26px;
  font-size: 16px;
}

.quantity-controls span {
  font-size: 13px;
}

.delete-item {
  font-size: 12px;
  padding: 5px;
}

.cart-total {
  font-size: 16px;
  padding: 15px 0;
}

#checkout-button {
  font-size: 15px;
  padding: 11px;
}













}

